<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img src="images/chevron.svg" class="icon collapsible__chevron" />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae incidunt
    dicta corporis voluptas? Dolores odit, quod harum perferendis mollitia
    asperiores repudiandae deserunt, earum excepturi minus, amet sequi veritatis
    quaerat? Possimus.
  </div>
</div>
