<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt maxime
    nostrum tenetur sapiente magni et repellendus nihil assumenda, ipsa
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Er. Aditya Adhikari</h3>
        <p class="quote__organization">Guras Innovations</p>
      </div>
    </div>
  </footer>
</blockquote>
